/* TABLE OF CONTENT */
/*
1. everything

*/

/* 1. Everything */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100&family=Roboto:wght@300&display=swap');


:root{
  --orange-background: #f5ab0e;
  --blue-background: #0caedb;
  --font-color: #3F3D3D;
  --white-background: #CAC2BB;
  --other-white-background: #EFEFF0;
}

* { 
  padding: 0rem;
  margin: 0;
  font-weight: bolder;
  text-decoration: none;
}

a{
  color: var(--font-color);
}

body{
  background-color: var(--other-white-background);
}
  
.nav-bar{
  background-color: var(--white-background);
}

.nav-bar a{
  color: var(--font-color);
}

.nav-bar li{
  display: inline-block;
  margin-right: 1rem;
}

.nav-bar h1{
  font-size: 2.2rem;
  text-decoration: underline;
  margin-left: 1rem;
}

.nav-bar h2{
  overflow: hidden;
  position: sticky;
  top: 0;
  padding: 1.5rem;
}
 
.nav-bar .right{
  float: right;
}

.nav-bar hr{
  border: 5px solid var(--blue-background);
  border-radius: 2.5px;
}


span{
  color: var(--blue-background);
}

p{
  color: var(--blue-background);
  font-family: 'League Spartan', sans-serif;
}

main h1, h2, h3{
  font-family: 'Roboto', sans-serif;
}

hr{
  border: 2px solid var(--font-color);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}

.hero{
  display: flex;
  margin: 1rem;
}

.hero .image-presentation {
  flex:55%;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.hero .image-presentation img{
  justify-content: center;
  align-items: center;
  border: 5px solid var(--white-background);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  width:100%;
}

.hero .image-presentation p{
  color: var(--orange-background);
  font-size: 2rem;
  font-weight: bolder;
}

.hero .presentation{
  flex:35%;
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

.hero .presentation img{
  border: 5px solid var(--white-background);
  border-radius: 10px;
  height: auto;
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projets{
  display: flex;
  flex:30%;
  color: var(--orange-background);
  font-style:italic;
  margin: 2rem;
  text-align: center;
  justify-items: center;
}

.projets img{
  width: 100%;
  height: auto;
  border: 5px solid var(--white-background);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projets a{
  font-style: normal;
  font-size: larger;
  color: var(--font-color);
}

.projets .material-symbols-outlined {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.aPropos {
  display: flex;
  margin: 1rem;
}

.aPropos p{
  color: var(--blue-background);
  font-weight: bolder;
}

.aPropos .texte-description {
  flex:55%;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.75rem;
}

.aPropos .right{
  text-align: right;
  color: var(--orange-background);
  padding: 1rem;
  margin-bottom: 1rem;
}

.aPropos .ville-rimouski{
  font-size: 2rem;
  flex: 45%;
  margin: 1rem;
}

.aPropos iframe{
  height: 73%;
  width: 100%;
  border: 5px solid var(--white-background);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.aPropos .btn {
  background-color:var(--white-background);
  border: none;
  color:var(--font-color);
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--font-color);
  color: var(--white-background);
}

.footer-basic {
  background-color:var(--white-background);
  color:var(--font-color);
  padding: 1rem;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:5px;
}

.footer-basic .gg-mail{
  align-items: center;
  justify-items: center;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .telephone {
  text-align:center;
  font-size:2rem;
  color:var(--font-color);
  margin-bottom:0;
}
